body {
  background-color: tomato;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}

.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: yellow;
  
}

.footer {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: lightblue;
}
