body {
  background-color: tomato;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
 
}

.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  background-color: lightgray;
  
}

.footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: x-large;
  background-color: lightblue;
}

.card-body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Orelega One', cursive;
}

.pet-color {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Orelega One', cursive;
  
}

.special-skill {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Orelega One', cursive;
}

#cat {
  background-color: yellow;
  color: black;
}

#dog {
  background-color: blue;
  color: white;
}

#dino {
  background-color: green;
  color: black;
}



#select-all {
  background-color: white;
  color: purple;
}
